/* Color Palette */
/* https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87 */
* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #EEF5FF, #B4D4FF);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 150px;
    width: 600px;
    margin-top: -300px;
    /*border: 2px solid black;*/
}

.navbar a i {
    font-size: 35px; 
    color: #176B87;
    padding: 10px;
}

.newtask {
    background-color: #86B6F6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset;
}

.newtask input {
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    padding: 6px 6px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #176B87;
}

.newtask input:focus {
    border: 1px solid #176B87;
    border-radius: 5px;
}

#add-btn {
    font-size: 18px;
    font-weight: bold;
    background-color: #176B87;
    color: #ccc;
    width: 70px;
    padding: 6px 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#add-btn:hover {
    background-color: #EEF5FF;
    color: #176B87;
    border: 1px solid #176B87;
    border-radius: 5px;
}

#list-container {
    padding: 0;
    margin: 10px;
  }

.checkbox-item {
  display: flex;
  align-items: center;
}

.checkbox-text {
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
  font-size: 25px;
  position: relative;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 10%;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:after {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 800;
    font-size: 15px;
    color: white;
    display: none;
  }

input[type="checkbox"]:hover {
    background-color: #ccc;
    border: none;
  }

input[type="checkbox"]:checked {
    background-color: #176B87;

  }

input[type="checkbox"]:checked:after {
    display: block;
}